image: node:latest

before_script:
  - apt-get update -qq
  - apt-get install -qq git
  - 'which ssh-agent || ( apt-get install -qq openssh-client )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$K8S_SECRET_SSH_PRIVATE_KEY" | base64 -d)
  - ssh-add <(echo "$K8S_SECRET_SSH_PRIVATE_KEY_AWS" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

stages:
  - install
  # - test
  - build
  - deploy_staging
  - deploy_production

cache:
  paths:
    - node_modules/

install:
  stage: install
  script:
    - npm install
  artifacts:
    paths:
      - node_modules/

# test:
#   stage: test
#   script:
#     - npm test
#   artifacts:
#     paths:
#       - node_modules/

build:
  stage: build
  script:
    - npm run build

deploy_staging:
  stage: deploy_staging
  only:
    - staging
  script:
    - ssh xum35s@ec2-35-158-133-68.eu-central-1.compute.amazonaws.com "cd /var/www/html/urligram/api-staging.urligram.com && rm -rf node_modules dist/* tmp"
    - ssh xum35s@ec2-35-158-133-68.eu-central-1.compute.amazonaws.com "cd /var/www/html/urligram/api-staging.urligram.com && git pull origin staging"
    - ssh xum35s@ec2-35-158-133-68.eu-central-1.compute.amazonaws.com "source ~/.bash_profile && export NPM_TOKEN=${NPM_TOKEN} && cd /var/www/html/urligram/api-staging.urligram.com && nvm use --delete-prefix && git checkout staging && npm ci --verbose && npm run build && npm run copy:sql"
    - ssh xum35s@ec2-35-158-133-68.eu-central-1.compute.amazonaws.com "cd /var/www/html/urligram/api-staging.urligram.com && export EMAIL_PASSWORD=${EMAIL_PASSWORD} && export DATABASE_PASSWORD=${DATABASE_PASSWORD_STAGING} && export SECRET=${SECRET} && NODE_ENV=staging pm2 restart ./dist/src/infrastructure/http/http.js --name api-staging.urligram.com --update-env"

deploy_production:
  stage: deploy_production
  only:
    - master
  script:
    - ssh xum35s@ec2-35-158-133-68.eu-central-1.compute.amazonaws.com "cd /var/www/html/urligram/api.urligram.com && rm -rf node_modules dist/* tmp"
    - ssh xum35s@ec2-35-158-133-68.eu-central-1.compute.amazonaws.com "cd /var/www/html/urligram/api.urligram.com && git pull origin master"
    - ssh xum35s@ec2-35-158-133-68.eu-central-1.compute.amazonaws.com "source ~/.bash_profile && export NPM_TOKEN=${NPM_TOKEN} && cd /var/www/html/urligram/api.urligram.com && nvm use --delete-prefix && git checkout master && npm ci --verbose && npm run build && npm run copy:sql"
    - ssh xum35s@ec2-35-158-133-68.eu-central-1.compute.amazonaws.com "cd /var/www/html/urligram/api.urligram.com && pm2 delete --name api.urligram.com"
    - ssh xum35s@ec2-35-158-133-68.eu-central-1.compute.amazonaws.com "cd /var/www/html/urligram/api.urligram.com && export EMAIL_PASSWORD=${EMAIL_PASSWORD} && export DATABASE_PASSWORD=${DATABASE_PASSWORD_PRODUCTION} && export SECRET=${SECRET} && NODE_ENV=production pm2 start ./dist/src/infrastructure/http/http.js --name api.urligram.com --update-env"
